* {
    box-sizing: border-box;
    font-family: "Source Serif 4", serif;
    --primary-blue: #458cff;
    --primary-yellow: #f79400;
    --off-white: #FFF8F0;
    --highlight: #FF4E50;
    --text-color: #2F2B38;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    overflow-x: hidden;
}

body {
    padding-top: 7em;
}

.header {
    height: 7rem;
    width: 100%;
    color: var(--primary-yellow);
    border-bottom: solid var(--text-color) 2px;
    background-color: var(--off-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
}

#tibby-name {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}

.logo {
    height: 90%;
    width: auto;
}

.header ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.header ul li {
    margin: 0 1.5rem;
    font-size: 1.5em;
}

.link {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-decoration: none;
}

a {
    color: inherit;
}

.link::after {
    display: block;
    content: "";
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: solid 2px var(--primary-yellow);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-out;
    z-index: -1;
}

.link:hover::after {
    transform: scaleX(1);
}

.contact {
    background-color: var(--primary-yellow);
    color: var(--off-white);
    padding: 0.15em 0.45em 0.2em;
    border: solid 2px var(--primary-yellow);
    transition: color .5s;
    text-decoration: none;
}

.contact:hover {
    background-color: var(--off-white);
    color: var(--primary-yellow);
    cursor: pointer;
}

.background-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: var(--primary-yellow);
}

.bg-img {
    position: absolute;
    object-fit: cover;
}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.hero {
    display: flex;
    align-items: stretch;
    max-height: 800px;
    border-bottom: 2px solid var(--text-color);
    backdrop-filter: blur(10px);
}

.page-title, .container {
    width: 70%;
    margin: auto;

}

.hero-right {
    border-left: 2px solid var(--text-color);
    width: 50%;
    display: flex;
}

.hero-left {
    width: 50%
}

.img-holder {
    flex: 1;
    overflow: hidden;
}

.img-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.container {
    color: var(--text-color);
    margin-top: -2rem;
}

.container p {
    font-size: 20px;
    margin-top: 0;
}

.page-title {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.page-title h1 {
    font-family: 'Lathusca';
    text-align: left;
    font-size: 70px;
    letter-spacing: -2px;
    line-height: 0.9;
    margin: 0;
}

.email-form {
    margin: 1rem auto 5rem;
    width: 80%;
    max-width: 800px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: solid 1px #94949465;
    color: var(--text-color);
    padding: 1em 0;
}

.form-group {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    width: 80%;              
    margin: 0 auto;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 1280px;
}

.form-row input {
    width: 100%;
    height: 3em;
    margin: 0 0 1rem;
    border: none;
    padding: 0 0 0 1rem;
}

.email-body {
    width: 100%;
    max-width: 1280px;
}

.email-body textarea {
    width: 100%;
    border: none;
    padding: 1rem 0 0 1rem;
}

.email-btn {
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: var(--off-white);
    transition: 0.4s;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.btn-text {
    display: inline-block;
    transition: all 0.3s;
}

.email-btn::after {
    content: '';
    background-image: url('/public/img/send.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translate(250%, -50%);
    height: 25px;
    width: 25px;
    z-index: 4;
    transition: all 0.3s ease;
}

.email-btn:hover .btn-text {
    transform: translateX(-50%);
}

.email-btn:hover::after {
    transform: translate(25%, -50%);
}

#splotch1 {
    width: 60vmin;
    height: 60vmin;
    bottom: -10vh;
    left: -8vw;
    opacity: 100%;
    animation: 0.75s ease-out 0.25s backwards floatIn;
}

#splotch2 {
    width: 60vmin;
    height: 60vmin;
    right: -0vw;
    bottom: 5vh;
    opacity: 70%;
    animation: 0.75s ease-out 0.5s backwards floatIn;
}

.cart-holder {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color:var(--text-color);
    border-radius:50%;
    right: 35px;
    bottom: 35px;
    transition: background-color 0.2s;
}

.cart-holder:hover {
    background-color: var(--primary-blue);
}

.cart-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    height: 60%;
    width: 60%;
}

.cart-quantity {
    position: absolute;
    bottom: 25%;
    right: 10%;
    color: var(--off-white);
    font-weight: 700;
    font-family: sans-serif;
}

footer {
    background:linear-gradient(145deg, #002258 0%, #00307c 100%);
    padding-bottom: 1rem;
    color: var(--off-white);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1800px;
    margin: 3rem auto;
}

.footer-bottom {
    border-top: solid 1px var(--off-white);
    width: 75%;
    margin: auto;
    text-align: center;
}

.footer-bottom p {
    margin-bottom: 0;
}

.insta {
    height: 50px;
    width: 50px;
}

.insta img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

@font-face {
    font-family: 'Lathusca';
    src: url('../fonts/Awesome\ Lathusca.ttf')
}

@media screen and (max-width: 1000px) {
    .header {
        height: 60px;
        padding: 0;
    }

    .header ul li {
        margin: 0 0.5em;
        font-size: clamp(15px, 0.5vw, 50px)
    }

    .header ul {
        padding-left: 0;
    }

    body {
        padding-top: 60px;
    }

    .hero {
        flex-direction: column;
        max-height: unset;
    }

    .hero-left {
        width: 100%;
        padding: 0;
    } 
    
    .hero-right {
        width: 100%;
        padding: 0;
        height: 400px;
    }

    .page-title {
        margin: 0 auto;
        width: 90%;
    }

    .page-title h1 {
        font-family: 'Lathusca';
        font-size: 40px;
        margin: 1rem auto 0.25rem;
    }   

    .container {
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }

    .container p {
        font-size: 16px;
        width: 100%;
    }

    .email-form {
        padding-left: 0.25em;
        padding-right: 0.25em; 
    }

    .email-form h1{
        font-size: clamp(15px, 5vw, 25px);
    }

    .email-form button {
        font-size: 1em;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .form-row {
        flex-direction: column;
    }
    #name {
        box-sizing: border-box;
        font-size: 15px;
        flex: 0 0;
        height: 5em;
        margin-bottom: 0.5em;
        padding: 0.5rem;
    }
    #email {
        box-sizing: border-box;
        font-size: 15px;
        flex: 0 0;
        height: 5em;
        margin-bottom: 0.5em;
        padding: 0.5rem;
    }

    .cart-holder {
        height: clamp(40px, 6vw, 50px);
        width: clamp(40px, 6vw, 50px);
        right: 15px;
        bottom: 15px;
    }

    .cart-quantity {
        font-size: 10px;
    }

    .footer-container {
        margin: 1em auto;
    }

    .footer-container h1 {
        font-size: clamp(15px, 5vw, 25px)
    }

    .footer-container p {
        font-size: clamp(10px, 2.5vw, 25px)
    }

    .insta {
        height: 25px;
        width: 25px;
    }

    textarea {
        font-size: 15px;
    }

}
